
<!--

    CENTROS DE INTELIGENCIA DO ENEAGRAMA

    - INSTINTO: 9, 8 e 1
    - CORAÇÃO : 2, 3 e 4
    - MENTAL  : 7, 6 e 5

!>

<!-- CENTER IMAGE -->
<div class="container-fluid image-top"></div>

<!-- ALERTS -->
<div class="container-fluid alerts" id="html-alerts"></div> 

<!-- ALINHAMENTO DO CONTAINER -->
<div class="row h-100" >
    
    <!--DIV CONTENT-->
    <div class="container h-75" style="border:0px solid blue;">
        <!-- row 1 -->
        <div class="row">
            <div class="col w-100 p-3" style="border:0px solid red;" >
                <h1 class="text-center">Teste De Personalidade</h1>
            </div>
        </div>
        <!-- row 2 -->
        <div class="row mt-3 d-flex justify-content-center" style="height:200px;background-color:#944dff;">
            
            <!-- <div class="col-10 my-auto"  style="text-align: center;"> -->
            
            <div class="col-10 my-auto" style="text-align: center;">
                <span style="color:white;font-size:18px;"> Utilize esta página para descobrir seu código no eneagrama.<br> 
                    Esta é uma ferramenta que lhe permite identificar-se entre os 9 tipos de personalidades presentes nos seres humanos.<br>
                    A identificação torna + assertiva a localização de outros perfis alinhados a sua forma de pensar, sentir e agir.<br>
                    É um guia de autoconhecimento capaz de orientar sua jornada de crescimento pessoal, profissional e espiritual
                </span>
            </div>
        </div>
        <!-- row 3 -->
        <fieldset class="frame1">
            <legend class="frame2">Perfil :</legend>
            <div class="row mt-3 d-flex justify-content-center" style="height:260px;">
                <!--  col 1 -->
                <div class="col-6 text-center" style="border:1px solid red;">
                    <span id="desc"> <%= desc %> </span>
                </div>
                <!--  col 2 -->
                <div class="col-2" style="border:1px solid red;">
                </div>
                <!--  col 3 -->
                <div class="col-4 text-center" style="border:1px solid red;">
                    <img  src=<%= img %> id="type"  />
                </div>
            </div>
        </fieldset>
        <div class="row mt-3 d-flex justify-content-center" style="height:260px;">
            <!--  col 1 -->
            <div class="col-6" style="">
            </div>
            <!--  col 2 -->
            <div class="col-2" style="">
            </div>
            <!--  col 3 -->
            <div class="col-4 text-center" style="">
                <button class="btn btn-lg w-100" type="button" style="background-color:#944dff;color:white;" id="btniniciar" >Iniciar Teste </button>
            </div>
        </div>
    </div>
    
</div>