
<!-- CENTER IMAGE -->
<div class="container-fluid image-top"></div>

<!-- ALERTS -->
<div class="container-fluid alerts" id="html-alerts"></div> 

<!-- ALINHAMENTO DO CONTAINER -->
<div class="row h-100" >    <!-- LINHA -->
    
    <div class="col" style="border:0px solid red;"> </div>
    
    <div class="col" style="border:0px solid red;">  <!-- COLUNA -->

        <!--DIV CONTENT-->
        <div class="container" style="border:0px solid blue;">
            
            <!-- title-->
            <h1 class="text-center" id="title">Alterar Senha</h1>
            <br>
            <div class="row" style="height: 80px; background-color:#e6e6e6; ">
                <div class="col my-auto" >
                    <span id="descricao">Informe o email cadastrado no sistema</span>
                </div>
            </div>
            
            <!-- view email validation -->
            <div class="row h-100" style="display: block;" id="div-email">
                <div class="col mx-auto text-center" style="border:0px solid blue;">
                    <form id="frmEmailValidation">
                        <br>
                        <div class="form-group text-left">
                            <label for="email">Email </label>
                            <input type="email" class="form-control" id="email" placeholder="email" required>
                        </div>
                        <br>
                        <hr>
                        <div class="text-left">
                            <button class="btn btn-success btn-lg w-50" type="submit"> Validar </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>        
    </div>
    
    <div class="col" style="border:0px solid red;"> </div>
        
</div>
