
<!-- CENTER IMAGE -->
<div class="container-fluid image-top"></div>

<!-- ALERTS -->
<div class="container-fluid alerts" id="html-alerts"></div> 

<!-- ALINHAMENTO DO CONTAINER -->
<div class="row h-100" >    <!-- LINHA -->
    
    <div class="col" > </div>

    <div class="col-6" style="border:0px solid red;">  <!-- COLUNA -->

        <!--DIV CONTENT-->
        <div class="container" style="border:0px solid blue;">

            <!-- title-->
            <h1 class="text-center" id="title">Alterar Senha</h1>
            <br>

            <div class="row" style="height:280px;">
                <div class="col">

                    <div class="card" style="background-color:#e6e6e6;">
                        <div class="card-body">
                            <ul>
                                <li>Você receberá um código de verificação em sua caixa de email. Informe este código abaixo.</li>
                                <li>Se de alguma forma, você não receber o email de verificação ,então <a href="#">reenvie o email.</a></li>
                            </ul>
                      </div>
                    </div>

                    <form id="frmVerificationCode">
                        <div class="input-group mt-2">
                            <input type="text" class="form-control" placeholder="código de verificação" aria-label="codigo" aria-describedby="basic-addon2" id="code">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="submit" >Verifique</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="col" > </div>

</div>

